* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .content {
    width: 100%;
    height: 100%;
    font-family: "helvetica Neue";

}

.horizontalView {
    position: relative;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.verticalView {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 28px;
    transform: translate(-50%, -50%);
}

.w100 {
    width: 100%
}

.h100 {
    height: 100%
}

.icon-svg {
    width: 1.4rem;
    height: 1.4rem;
    fill: currentColor;
    overflow: hidden
} */
